<a href="https://colab.research.google.com/github/stellarnik/assignments/blob/main/Lists.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Lists in Python
A list is an ordered collection of elements, and each element can be of any data type, such as numbers, strings, Booleans, or even other lists. In Python, lists are mutable, meaning their contents can be changed. Lists are particularly useful when you want to handle a group of related values.

## Objective
- Comprehend the application of lists
- Understand how a list uses memory
- Apply various operations on a list

## Prerequisite

- Decision statements
- Input functions
- Python literals
- Programming variables


## What do you need to complete this exercise?

You can perform this exercise in any Python IDE, including JupyterLab or Google Colab.

a) a. Using a range function, generate a list of 100 integers and assign the list to ```my_list```. Verify that the variable ```my_list``` data type is list. Use your favorite four methods and apply on the list. You can find the methods on [Python Docs](https://docs.python.org/3/tutorial/datastructures.html)

In [8]:
# Write your code here.
my_list = list(range (100))
print(my_list)
print(type(my_list))
my_list.insert( 0 ,"Nik Starr") # insert method
print(my_list)
my_list.append("the end")# apend method
print(my_list)
my_list.remove(50) # remove method
print(my_list)
my_list.clear() # clear method
print(my_list)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]
<class 'list'>
['Nik Starr', 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]
['Nik Starr', 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 'the end']
['Nik Starr', 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 'the end']
[]

b. Suppose that you have a list of 10 items long. How might you move the last three items from the end of the list to the beginning, keeping them in the same order?

In [19]:
# Write your code here.
my_list = list(range(10))
print(my_list)
my_list1 = my_list[ :-3]
print(my_list1)
my_list2 = my_list[-3: ]
print(my_list2)
my_list = my_list2 + my_list1
print(my_list)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2, 3, 4, 5, 6]
[7, 8, 9]
[7, 8, 9, 0, 1, 2, 3, 4, 5, 6]

c. What would be the result of ```len([[1,2]] * 3)```? Try to do it without coding and then verify using Python.

This is a list repeated three times. The length will be 3.

In [20]:
# Write your code here.
n = len([[1,2]]*3)
print(n)

3

d. Create a list ```my-list-ten``` of 10 items that includes some duplicate entries. Then, generate a second list ```my-list-ten-mem``` that contains the memory addresses of the items from the list ```my-list-ten```. Use Python to research and identify the unique and duplicate memory addresses.

In [22]:
# Write your code here.
my_list_ten = [23,10,46,23,4,6,8,23,4,6]
my_list_ten_mem = [id(element) for element in my_list_ten]
print(my_list_ten)
print(my_list_ten_mem)

[10751560, 10751144, 10752296, 10751560, 10750952, 10751016, 10751080, 10751560, 10750952, 10751016]

e. Delete the list ```my-list-ten``` created in the above step.

In [23]:
# Write your code here.
my_list_ten.clear()
print(my_list_ten)

[]

f. Create a new list ```my-new-list``` of the same 10 items used in ```my-list-ten```. Generate memory addresses of the items in ```my-new-list``` and compare them with the memory addresses in ```my-list-ten-mem```. Discuss what do you observe.

In [24]:
# Write your code here.
my_new_list =  [23,10,46,23,4,6,8,23,4,6]
my_new_list_mem = [id(element) for element in my_new_list]
print(my_new_list)
print(my_new_list_mem)

[23, 10, 46, 23, 4, 6, 8, 23, 4, 6]
[10751560, 10751144, 10752296, 10751560, 10750952, 10751016, 10751080, 10751560, 10750952, 10751016]

The addresses are the same in the old list and the new list

g. Suppose that you have the following list: ```x = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]```. What code could you use to get a copy ```y``` of that list in which you could change the elements without the side effect of changing the contents of ```x```?

In [26]:
x = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
# Write your code here.
import copy
y = copy.deepcopy(x)
y[0][1]=10
print(y)
print(x)

[[1, 10, 3], [4, 5, 6], [7, 8, 9]]
[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

h. Is it possible to use multiple expressions within a list comprehension?

true

In [27]:
# True or False

i. Using a list comprehension, count how many spaces are in the following statement.
"To be, or not to be, this is the question"

In [29]:
# Write your code here.
x = "To be, or not to be, this is the question"
space = [ char for char in x if char == " "]
count = len(space)
print(count)

9

j. Choose any 5 lists operations of your choice from the link https://docs.python.org/3/tutorial/datastructures.html

In [36]:
# Write your code here.
my_list = [6,8,7,17,25,40,67,76,85,7,7]
print(my_list)
my_list.insert(1,24)
print(my_list)
my_list.pop(0)
print(my_list)
my_list.reverse()
print(my_list)
my_list.count(7)

[6, 8, 7, 17, 25, 40, 67, 76, 85, 7, 7]
[6, 24, 8, 7, 17, 25, 40, 67, 76, 85, 7, 7]
[24, 8, 7, 17, 25, 40, 67, 76, 85, 7, 7]
[7, 7, 85, 76, 67, 40, 25, 17, 7, 8, 24]

3

## Challenges

Please describe the challenges you faced during the exercise.

Write your challenges here