<a href="https://colab.research.google.com/github/stellarnik/assignments/blob/main/Tuples.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Tuples in Python
A tuple in Python is an ordered, immutable sequence of elements. Tuples are defined using parentheses and can contain elements of different data types, including other tuples. Once a tuple is created, its elements cannot be modified, added, or removed. This immutability makes tuples suitable for representing fixed collections of data.

## Objective
- Comprehend the application of tuples
- Understand how a tuple uses a memory
- Apply various operations on tuples

## Prerequisite

- Lists
- Decision and loops
- Input functions
- Python literals
- Programming variables


## What do you need to complete this exercise?

You can perform this exercise in any Python IDE, including JupyterLab or Google Colab.

# 1. Exercising tuples

1a) Take five inputs from an user and save it in a tuple called ```my_tuple```

In [1]:
# Write your code here.
input1= input("Enter your first name: ")
input2 = input("Enter your last name: ")
input3 = int(input("Enter your age: "))
input4 = int(input("Enter number of classes you are taking: "))
input5 = input("Enter your favorite movie: ")
my_tuple = (input1, input2, input3, input4, input5)
print(my_tuple)

Enter your first name: Nik
Enter your last name: Starr
Enter your age: 23
Enter number of classes you are taking: 2
Enter your favorite movie: Percy Jackson
('Nik', 'Starr', 23, 2, 'Percy Jackson')

1b. How do you assign a single element in a tuple?

In [4]:
# Write your code here.
my_tuple1=(15,)
print(my_tuple1)

(15,)

1c. ```my_tuple = (1,2,3,4,3,2,1,2,3,5,4,3,2,1)```
Count the repeated integers and print the result on the console.

In [7]:
# Write your code here.
my_tuple = (1,2,3,4,3,2,1,2,3,5,4,3,2,1)
print("Integer 1 repeated:", my_tuple.count(1), "times")
print("Integer 2 repeated:", my_tuple.count(2), "times")
print("Integer 3 repeated:", my_tuple.count(3), "times")
print("Integer 4 repeated:", my_tuple.count(4), "times")
print("Integer 5 repeated:", my_tuple.count(5), "times")

Integer 1 repeated: 3 times
Integer 2 repeated: 4 times
Integer 3 repeated: 4 times
Integer 4 repeated: 2 times
Integer 5 repeated: 1 times

1d. ```my_tuple = my_tuple + my_tuple```


Proof that ```my_tuple``` in part c is different than the ```my_tuple``` in part d.

In [8]:
# Write your code here.
my_tuple = (1,2,3,4,3,2,1,2,3,5,4,3,2,1)
my_tuple = my_tuple + my_tuple
print(my_tuple)

(1, 2, 3, 4, 3, 2, 1, 2, 3, 5, 4, 3, 2, 1, 1, 2, 3, 4, 3, 2, 1, 2, 3, 5, 4, 3, 2, 1)

1e. Explain why the following operations aren’t legal for
the tuple. Answer without using the Python.
```
x = (1,2,3,4)
x.append(1)
x[1] = "hello"
del x[2]
```

Write your response here.

Tuple are immutable data structures. They cant be appended or deleted. Tuples can be sliced, concatenated and repeated.

# 2. Packing and unpacking tuples

Python permits tuples to appear on the left side of an assignment operator, in which case variables in the tuple receive the corresponding values from the tuple on the right side of the assignment operator. Here’s a simple example:

In [9]:
(one, two, three, four) =  (1, 2, 3, 4)

2a. What is the data type of each variable?
Integer

2b. Python has an extended unpacking feature, allowing an element marked with * to absorb any number of elements not matching the other elements. For example,

In [ ]:
x = (1, 2, 3, 4)
a, b, *c = x
a, b, c

(1, 2, [3, 4])

2c. What will be the result of ```a, *b, c = x```?

In [10]:
# Write your code here.
x=(1,2,3,4)
a, *b, c=x
a, b, c

(1, [2, 3], 4)

# 3. Memory management

```
my_x = [100,200,300,400]
my_y = (200,300,400,500)

```
Discuss how memory addresses are assigned to each index of the list and the tuple. Pay attention to new addresses & re-used addresses.

| Index | my_x | my_x |
|   -   |  -   |  -   |
|   0   |   -  |  -   |
|   1   |   -  |  -   |
|   2   |   -  |  -   |
|   3   |   -  |  -   |

In [17]:
my_x = [100,200,300,400]
my_y = (200,300,400,500)
print("address of my_x list: ", id(my_x))
print("address of my_y tuple: ", id(my_y))
print("Index my_x my_y")
for i in range(4):
  print(i, id(my_x[i]), id(my_y[i]))

address of my_x list:  135361778263040
address of my_y tuple:  135361777372432
Index my_x my_y
0 10754024 10757224
1 10757224 135361777393328
2 135361777392400 135361777392208
3 135361777392368 135361777392080

## Challenges

Please describe the challenges you faced during the exercise.

Write your challenges here

The memory addresses were challening.